/*==== rtl css ====*/

.appie-traffic-area.appie-traffic-area-rtl .traffic-thumb {
	left: 0;
	right: auto;
	transform: translateY(-50%) rotateY(-180deg);
}

.appie-traffic-area-rtl .appie-traffic-title {
	padding-left: 220px;
	padding-right: 0;
}

.appie-traffic-area-rtl .appie-traffic-service .icon {
	right: 0;
	left: auto;
}

.appie-faq-area-rtl .faq-accrodion .accrodion .accrodion-title::after,
.appie-faq-area-rtl .faq-accrodion .accrodion .accrodion-title::before {
	right: auto;
	left: 30px;
}

.appie-project-area.appie-project-area-rtl .appie-project-box .appie-project-thumb {
	left: 70px;
	right: auto;
}

.appie-project-area-rtl .appie-project-content .input-box input {
	padding-left: 0;
	padding-right: 30px;
}

.appie-project-area-rtl .appie-project-content .input-box button {
	margin-left: 0;
	margin-right: 10px;
}

.appie-header-area.appie-header-area-rtl .appie-header-main-menu ul {
	text-align: right;
}

.appie-header-area.appie-header-area-rtl .appie-logo-box {
	text-align: right;
}
.appie-header-area.appie-header-area-rtl .appie-btn-box {
	text-align: left;
}

.appie-header-area-rtl .appie-header-main-menu ul > li .sub-menu {
	text-align: right;
	right: 0;
	left: unset;
}

.appie-header-area-rtl .appie-header-main-menu ul > li {
	margin-left: 30px;
	margin-right: 0;
}

.appie-header-area-rtl .toggle-btn {
	right: unset;
	left: 0;
	margin-right: 30px;
	margin-left: 0;
}

.appie-project-area-rtl .footer-about-widget .logo a {
	margin-right: unset;
	margin-left: auto;
}

.road-map-area.road-map-area-rtl .map-inner .map-item.right .item-inner::before {
	left: unset;
	right: 50px;
	border-radius: 0 10px 10px 90px;
}
.road-map-area.road-map-area-rtl .map-inner .map-item.left .item-inner::before {
	right: unset;
	left: 50px;
	border-radius: 10px 0 90px 10px;
}
.road-map-area.road-map-area-rtl .map-inner .map-item.right .item-inner .number {
	left: unset;
	right: -12px;
}
.road-map-area.road-map-area-rtl .map-inner .map-item.right .item-inner .number::before {
	left: unset;
	right: 16px;
}
.road-map-area.road-map-area-rtl .map-inner .map-item.left .item-inner .number {
	right: unset;
	left: -12px;
}
.road-map-area.road-map-area-rtl .map-inner .map-item.map-item.left .item-inner .number::before {
	left: 16px;
	right: unset;
}

.area-countdown.fun-fact-area-rtl .fun-fact-content {
	text-align: right;
	padding: 50px 50px 50px 10px;
}
.area-countdown.fun-fact-area-rtl .fun-fact-content h3 {
	padding-right: 0;
	padding-left: 80px;
}
.area-countdown.fun-fact-area-rtl .coins-box .img-inner {
	margin-left: 0;
	margin-right: auto;
}
.area-countdown.fun-fact-area-rtl .arrows-group {
	left: unset;
	right: 0;
}
.area-countdown.fun-fact-area-rtl #arrows-inner .arrow {
	left: unset;
	right: -40px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.appie-header-area-rtl .header-nav-box .appie-btn-box {
		padding-left: 50px;
		padding-right: 0;
	}
}
@media (max-width: 992px) {
	.area-countdown.fun-fact-area-rtl .coins-box .img-inner {
		margin: 0 auto;
	}
	.area-countdown.fun-fact-area-rtl .arrows-group {
		left: 0;
		right: unset;
		top: 0;
	}
	.area-countdown.fun-fact-area-rtl #arrows-inner .arrow {
		right: unset;
		left: -40px;
	}
}
@media (max-width: 767px) {
	.appie-header-area-rtl .header-nav-box .appie-btn-box {
		padding-left: 30px;
		padding-right: 0;
	}
	.road-map-area.road-map-area-rtl .map-inner .map-item.right .item-inner::before {
		left: unset;
		right: 35px;
	}
	.road-map-area.road-map-area-rtl .map-inner .map-item.left .item-inner::before {
		right: unset;
		left: 35px;
	}
}

.exchange-box.exchange-box-rtl form .input-group .input-group-append {
	right: unset;
	left: 0;
}
.exchange-box.exchange-box-rtl form .input-group .badge {
	margin-left: 0;
	margin-right: 3px;
}

.appie-services-area.service-area-rtl .appie-single-service-3 .title {
	text-align: right;
	padding-left: 0;
	padding-right: 15px;
}

.gatepay-payment.gatepay-payment-rtl .payment-text {
	text-align: right;
	padding-left: 0;
	padding-right: 50px;
}
.gatepay-payment.gatepay-payment-rtl .payment-text.text-right {
	text-align: left !important;
	padding-left: 50px;
	padding-right: 0;
}
.multichain-section.multichain-rtl .text-content {
	text-align: right;
}
.appie-service-area.service-rtl .appie-section-title .appie-title {
	text-align: right;
}
.appie-service-area.service-rtl .appie-single-service-2.appie-single-service-about {
	padding: 0 0 30px 90px;
	text-align: right;
}

.appie-service-area.service-rtl .arrow-down {
	right: unset;
	left: 0;
	transform: scaleX(-1);
}
.appie-service-area.service-rtl {
	background-position: 8% 100%;
}

.appie-team-area.team-rtl .team-slider .slick-prev {
	/* left: 52% !important; */
	right: calc(50% - 50px) !important;
	left: unset;
}
.appie-team-area.team-rtl .team-slider .slick-next {
	/* right: 52% !important; */
	left: calc(50% - 50px) !important;
	right: unset;
}

@media (max-width: 768px) {
	.appie-service-area.service-rtl .appie-section-title .appie-title {
		text-align: center;
	}
	.appie-service-area.service-rtl .appie-single-service-2.appie-single-service-about {
		padding: 0 50px;
		text-align: center;
	}
}

.compare-area.compare-area-rtl .compare-item .collapse-header .name h4 {
	margin-left: 0;
	margin-right: 15px;
}
.compare-area.compare-area-rtl .compare-item .collapse-header .icon {
	margin-left: unset;
	margin-right: auto;
}
.compare-area.compare-area-rtl .table-compare .table-header li:first-child {
	text-align: right;
}
.compare-area.compare-area-rtl .table-compare .table-body .item-row ul li:first-child {
	text-align: right;
}
