.card-ecosystem {
    margin-bottom: 2rem;
    .card-inner {
        background-color: $background-dark2;
        border-radius: 20px;
        text-align: center;
        padding: 30px;
        transition: all 0.3s ease-in-out;
    }
    .thumb {
        width: 100px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    .info {
        margin-top: 15px;
        h1 {
            font-size: 16px;
            color: white;
            margin-bottom: 1rem;
        }
        p {
            color: rgba(255, 255, 255, 0.7);
        }
    }
    &:hover {
        .card-inner {
            background-color: $primary;
            transform: scale(1.03);
        }
    }
}
