/* Ecosystem */
.ecosystem-section {
    background-color: $background_dark;
}
.ecosystem-section {
    .section-title {
        .title {
            color: white;
        }
        p {
            color: rgba(255, 255, 255, 0.8);
        }
    }
}

// About Ecosystem
.about-ecosystem-section {
    background-color: $background_dark;
    .title-content {
        .title-inner {
            width: 250px;
            height: 250px;
            background-color: $primary;
            border-radius: 50%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 5px 30px rgba(53, 192, 157, 0.2);
        }
        h1 {
            font-size: 38px;
            color: white;
            margin: 0;
        }
    }
}

.collapse-item {
    .btn-collapse {
        display: grid;
        grid-template-columns: 50px auto 30px;
        align-items: center;
        width: 100%;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.9);
        border: none;
        padding: 15px;
        font-size: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        cursor: pointer;
        .arrow {
            margin-left: auto;
            opacity: 0.4;
        }
        .number {
            display: flex;
            align-content: center;
            justify-content: flex-start;
            text-align: left;
            font-size: 20px;
            font-weight: 700;
            line-height: normal;
            color: rgba(255, 255, 255, 0.5);
        }
        .name {
            text-align: left;
        }
        &.active {
            color: $primary;
            .number {
                color: $primary;
            }
            .arrow {
                transform: rotate(180deg);
                color: rgba(255, 255, 255, 1);
                opacity: 0.8;
            }
        }
    }
    .collapse-body {
        display: none;
        &.active {
            display: block;
        }
        .card-content {
            padding: 20px;
            p {
                color: white;
            }
        }
    }
}

@media (max-width: 992px) {
    .about-ecosystem-section {
        .title-content {
            margin-bottom: 2.5rem;
            .title-inner {
                border-radius: 15px;
                height: auto;
                width: 300px;
                padding: 10px;
            }
            h1 {
                font-size: 30px;
            }
        }
    }
}
@media (max-width: 768px) {
    .collapse-item .btn-collapse .name {
        font-size: 18px;
    }
}
@media (max-width: 575px) {
    .collapse-item .btn-collapse {
        grid-template-columns: 40px auto 30px;
        .name {
            font-size: 16px;
            padding-right: 10px;
        }
    }
}
@media (max-width: 480px) {
    .about-ecosystem-section .title-content {
        .title-inner {
            width: 100%;
        }
        h1 {
            font-size: 24px;
        }
    }
}
