/* Footer */
.footer {
    background-color: $background_dark;
    padding: 100px 0 30px 0;
    .footer-inner {
        border-bottom: 1px solid white;
        padding-bottom: 3rem;
    }
    .logo {
        border-right: 2px solid $background_dark3;
        padding: 0 20px;
        height: 100%;
        .img-inner {
            height: 100%;
        }
    }
    .information {
        border-right: 2px solid $background_dark3;
        padding: 0 10px;
        height: 100%;
        &.no-border {
            border: none;
        }
        .title {
            color: $primary;
            margin-bottom: 15px;
        }
    }
    .social-row {
        margin-bottom: 20px;
        p {
            color: rgba(255, 255, 255, 0.7);
            margin-bottom: 0.6rem;
        }
        .social-icons-list {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            li {
                margin-right: 8px;
                font-size: 24px;
                a {
                    color: $textSilver;
                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }
    .links {
        ul {
            li {
                a {
                    color: rgba(255, 255, 255, 0.7);
                    display: block;
                    padding: 5px 0;
                    transition: all 0.2s ease-in-out;
                }
                &:hover {
                    a {
                        color: $primary;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
    .copyright {
        color: white;
        text-align: left;
        padding-top: 3rem;
    }
}

@media (max-width: 992px) {
    .footer {
        .logo {
            border-right: 0;
        }
        .information {
            border-right: 0;
        }
    }
}

@media (max-width: 768px) {
    .footer .logo {
        padding: 0;
        margin-bottom: 2.5rem;
    }
}
