.keeptouch-section {
    background-color: $background_dark;
    .section-title {
        .title {
            color: $primary;
        }
        p {
            color: rgba($color: white, $alpha: 0.8);
        }
    }
    .section-inner {
        // margin-top: 1rem;
    }
    .grid-layout {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .card-social {
        flex: 0 0 12.5%;
        width: 12.5%;
    }
}

@media (max-width: 1199px) {
    .keeptouch-section {
        .card-social {
            flex: 0 0 20%;
            width: 20%;
        }
    }
}
@media (max-width: 992px) {
    .keeptouch-section {
        .card-social {
            flex: 0 0 25%;
            width: 25%;
        }
        .section-inner {
            margin-top: 0;
        }
    }
}
@media (max-width: 768px) {
    .keeptouch-section {
        .card-social {
            flex: 0 0 33.33%;
            width: 33.33%;
            .card-inner {
                padding: 20px 10px;
            }
        }
    }
}
@media (max-width: 450px) {
    .keeptouch-section {
        .card-social {
            flex: 0 0 50%;
            width: 50%;
            padding: 5px;
            .card-inner {
                padding: 15px 5px;
            }
        }
    }
}
