.light-theme {
    background-color: white;
    transition: all 0.5s ease-in-out;
}

.light-theme .header-arabnetwork .top-header {
    background-color: $background_light1;
}
.light-theme .network-hero {
    background-color: $background_light1;
    .hero-content {
        .title {
            color: $textDark;
        }
        p {
            color: $textGrey;
        }
    }
}
.light-theme .arrow-text {
    color: $textGrey;
    &::before {
        background-color: $textGrey;
    }
}

.light-theme .about-arabnetwork-section {
    background-color: $background_light1;
    .shadow-text {
        color: rgba($color: white, $alpha: 0.08);
    }
}

.light-theme .section-title {
    .title {
        color: $textDark;
    }
    p {
        color: $textGrey;
    }
}

.light-theme .ecosystem-section {
    background-color: $background_light1;
}

.light-theme .card-ecosystem {
    .card-inner {
        background-color: $background_light3;
    }
    .info {
        h1 {
            color: $textDark;
        }
        p {
            color: $textGrey;
        }
    }
    &:hover {
        .card-inner {
            background-color: $primary;
            transform: scale(1.03);
        }
        .info {
            h1 {
                color: white;
            }
            p {
                color: rgba(255, 255, 255, 0.9);
            }
        }
    }
}

.light-theme .banner-section {
    background-color: $background_light1;
    .section-inner {
        background-color: #e6e6e9;
    }
}

.light-theme .about-ecosystem-section {
    background-color: $background_light1;
}

.light-theme .collapse-item {
    .btn-collapse {
        color: $textDark;
        border-bottom-color: rgba($color: #000000, $alpha: 0.1);
        .number {
            color: $textSilver;
        }
        .arrow {
            color: $textSilver;
            opacity: 1;
        }
        &.active {
            color: $primary;
            .arrow {
                color: $primary;
            }
        }
    }
    .collapse-body {
        .card-content p {
            color: $textGrey;
        }
    }
}

.light-theme .join-community-section {
    background-color: $background_light1;
}

.light-theme .roadmap-section {
    background-color: $background_light3;
}
.light-theme .column-roadmap {
    .date-list {
        .name {
            color: $textDark;
        }
        .desc {
            color: $textGrey;
        }
        > li::before {
            background-color: white;
        }
    }
    .d-list li {
        color: $textGrey;
    }
}

.light-theme .downlaoad-app-section {
    background-color: $background_light1;
    &::after {
        background-color: $background_light2;
    }
    .information {
        h2 {
            color: $textDark;
        }
        .desc {
            color: $textGrey;
        }
    }
}

.light-theme .community-section {
    background-color: $background_light1;
}

.light-theme .footer {
    background-color: $background_light3;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    .logo,
    .information {
        border-right-color: rgba($color: #000000, $alpha: 0.1);
    }
    .social-row {
        p {
            color: $textDark;
        }
        .social-icons-list li a {
            color: $textGrey;
        }
    }
    .footer-inner {
        border-bottom-color: rgba($color: #000000, $alpha: 0.2);
    }
    .copyright {
        color: $textSilver;
    }
    .links {
        ul li a {
            color: rgba($color: #000000, $alpha: 0.8);
            &:hover {
                color: $primary;
            }
        }
    }
    .social-media {
        ul {
            a {
                background-color: rgba($color: $primary, $alpha: 0.1);
                color: $primary;
                svg {
                    fill: $primary;
                }
                &:hover {
                    background-color: $primary;
                    color: white;
                    svg {
                        fill: white;
                    }
                }
            }
        }
    }
}

.light-theme .pagehero-section {
    background-color: $background_light1;
    .desc {
        color: $textGrey;
    }
    .social-icons-list li a {
        color: $textSilver;
    }
}

.light-theme .formsgroup-section {
    background-color: $background_light2;
    .text-content h6 {
        color: $textDark;
    }
}

.light-theme .about-arabnetwork-section.type-2 {
    background-color: $background_light3;
    .section-inner {
        &::before {
            background-color: $textGrey;
        }
    }
    .text-content {
        h1,
        h2 {
            color: $textDark;
        }
        p {
            color: $textGrey;
        }
    }
}

.light-theme .ourvision-section {
    background-color: $background_light1;
    .rotate-text {
        h1 {
            color: $textDark;
        }
        h2 {
            color: $textGrey;
        }
    }
    .information {
        ul li {
            color: $textGrey;
        }
    }
}

.light-theme .ourvalue-section {
    background-color: $background_light1;
}

.light-theme .card-values {
    .card-inner {
        background-color: white;
    }
    .info {
        h4 {
            color: $textDark;
        }
        p {
            color: $textGrey;
        }
    }
    &:hover {
        .card-inner {
            background-color: rgba($color: $primary, $alpha: 0.4);
        }
    }
}

.light-theme .teams-section {
    background-color: $background_light1;
    &::before {
        background-color: $background_light2;
    }
    .card-team {
        .card-inner {
            background-color: white;
        }
        .thumb {
            border: 2px solid $textSilver;
        }
        .info {
            .name {
                color: $textDark;
            }
            h3,
            p {
                color: $textGrey;
            }
        }
        ul li {
            border-color: $textSilver;
            i {
                color: $textSilver;
            }
            &:hover {
                border-color: $primary;
                i {
                    color: white;
                }
            }
        }
    }
}

.light-theme .card-team .info .job {
    color: $textGrey;
}

.light-theme .pageText-content-section {
    background-color: $background_light1;
    .section-inner {
        background-color: $background_light3;
    }
    .text-content {
        p {
            color: $textGrey;
        }
    }
}

.light-theme .keeptouch-section {
    background-color: $background_light1;
    .section-title .title {
        color: $primary;
    }
    .card-social {
        .card-inner {
            background-color: white;
        }
        .icon {
            i {
                color: $primary;
            }
            svg {
                fill: $primary;
            }
        }
        h6 {
            color: $textDark;
        }
        &:hover {
            .card-inner {
                background-color: $primary;
            }
            .icon {
                i {
                    color: white;
                }
                svg {
                    fill: white;
                }
            }
            h6 {
                color: white;
            }
        }
    }
}

.light-theme .partnership-section {
    background-color: $background_light1;
}
