.header-arabnetwork.area-rtl {
    direction: rtl;
    .header-inner {
        .btn-groups {
            margin-left: 0;
            margin-right: 40px;
        }
    }
    .header-main-menu ul > li {
        margin-left: 30px;
        margin-right: 0;
        > a i {
            padding-left: 0;
            padding-right: 6px;
        }
    }
    .choose-lang ul .item i {
        padding-left: 0;
        padding-right: 6px;
    }
}

.network-hero.area-rtl {
    direction: rtl;
}

.about-arabnetwork-section.area-rtl {
    direction: rtl;
    .arrow-text {
        left: unset;
        right: 10px;
    }
}

@media (max-width: 650px) {
    .about-arabnetwork-section.area-rtl {
        .arrow-text {
            right: 0;
        }
    }
}
@media (max-width: 650px) {
    .about-arabnetwork-section.area-rtl {
        .arrow-text {
            right: -20px;
        }
    }
}

.ecosystem-section.area-rtl {
    direction: rtl;
}

.about-ecosystem-section.area-rtl {
    direction: rtl;
    .collapse-item {
        .btn-collapse {
            .name {
                text-align: right;
            }
            .arrow {
                margin-right: auto;
                margin-left: unset;
            }
        }
        .collapse-body .card-content {
            text-align: right;
        }
    }
}

@media (max-width: 575px) {
    .about-ecosystem-section.area-rtl {
        .collapse-item {
            .btn-collapse .name {
                padding-left: 10px;
                padding-right: 0;
            }
        }
    }
}

.join-community-section.area-rtl {
    direction: rtl;
}

.roadmap-section.area-rtl {
    direction: rtl;
    .column-roadmap {
        padding-left: 0;
        padding-right: 50px;
        .date-list > li {
            padding-left: 0;
            padding-right: 50px;
            &::before {
                left: unset;
                right: 0;
            }
            &::after {
                left: 0;
                right: 12px;
            }
        }
        .d-list {
            padding-left: 0;
            padding-right: 20px;
        }
    }
}
@media (max-width: 992px) {
    .roadmap-section.area-rtl .column-roadmap {
        padding-right: 30px;
    }
}
@media (max-width: 768px) {
    .roadmap-section.area-rtl .column-roadmap {
        padding-right: 0;
    }
}

.downlaoad-app-section.area-rtl {
    direction: rtl;
    &::before {
        background-color: #1d1f29;
    }
    &::after {
        background-color: $primary;
    }
}

.community-section.area-rtl {
    direction: rtl;
    .text-desc {
        padding-left: 0;
        padding-right: 50px;
    }
    .text-content {
        border-right: none;
        border-left: 3px solid white;
    }
}

@media (max-width: 992px) {
    .community-section.area-rtl {
        .text-content {
            border-left: none;
        }
    }
}

.footer.area-rtl {
    direction: rtl;
    .social-row .social-icons-list li {
        margin-right: 0;
        margin-left: 8px;
    }
    .copyright {
        text-align: right;
    }
}

.about-header-hero.area-rtl {
    direction: rtl;
    .section-inner::before {
        left: unset;
        right: -25px;
    }
}

.about-arabnetwork-section.type-2.area-rtl {
    .section-inner {
        &::before {
            left: unset;
            right: -25px;
        }
        &::after {
            left: unset;
            right: -25px;
        }
    }
}

.ourvision-section.area-rtl {
    direction: rtl;
    .text-content {
        padding-left: 0;
        padding-right: 180px;
    }
    .rotate-text {
        left: unset;
        right: -50px;
    }
}
@media (max-width: 992px) {
    .ourvision-section.area-rtl {
        .text-content {
            padding-right: 140px;
        }
    }
}

@media (max-width: 768px) {
    .ourvision-section.area-rtl {
        .text-content {
            padding-right: 100px;
        }
        .rotate-text {
            right: 0;
        }
    }
}

.ourvalue-section.area-rtl {
    direction: rtl;
}

.teams-section.area-rtl {
    direction: rtl;
    .section-title.text-left {
        text-align: right !important;
        margin: 0 0 0 auto;
    }
    .swiper-teams {
        direction: ltr;
        .swiper-button-prev {
            right: unset;
            left: 10px;
        }
        .swiper-button-next {
            right: unset;
            left: 70px;
        }
    }
    .card-team {
        .social-icons {
            justify-content: flex-end;
            li {
                margin-right: 0;
                margin-left: 10px;
            }
        }
        .thumb {
            margin-left: auto;
        }
        .info {
            text-align: right;
        }
    }
}

.pagehero-section.area-rtl {
    direction: rtl;
}

.formsgroup-section.area-rtl {
    direction: rtl;
}

.pageText-content-section.area-rtl {
    direction: rtl;
}
