.teams-section {
    background-color: $background-dark;
    position: relative;
    z-index: 20;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background-color: $background-dark3;
        clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
        z-index: -1;
    }
    .section-title {
        margin: 0 auto 0 0;
        .title {
            position: relative;
            color: $primary;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 60%;
                height: 100%;
                transform: translateY(-50%);
                background-color: rgba($color: black, $alpha: 0.1);
                clip-path: polygon(3% 0, 97% 0, 100% 100%, 0 100%);
                z-index: -1;
            }
        }
        p {
            color: rgba($color: white, $alpha: 0.7);
        }
    }
}

.swiper-teams {
    padding-top: 5.5rem;
    .swiper-button-prev {
        right: 70px;
        left: unset;
        &::after {
            content: "\f053";
        }
    }
    .swiper-button-next {
        &::after {
            content: "\f054";
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        top: 25px;
        width: 44px;
        height: 44px;
        border: 2px solid $primary;
        border-radius: 50%;
        &::after {
            font-size: 22px;
            color: $primary;
            font-family: "Font Awesome 5 Pro";
        }
    }
}
