$primary: #35c09d;
// $secondary: #00c9ff;

$textDark: #303234;
$textGrey: #5c5c5c;

$background-dark: #20222c;
$background-dark2: #23262f;
$background-dark3: #1d1f29;
$background: #f2f2f5;

$border: #d7d7d8;

$bodyFont: IRANYEKAN;
$iconFont_Regular: "uicons-regular-rounded";
$iconFont_Solid: "uicons-solid-rounded";
