$primary: #35c09d;
// $secondary: #00c9ff;

$textDark: #303234;
$textGrey: #5c5c5c;
$textSilver: #a0a2a4;

$background-dark: #20222c;
$background-dark2: #23262f;
$background-dark3: #1d1f29;
$background_light1: #f2f2f5;
$background_light2: #e6e6e9;
$background_light3: #fff;

$border: #d7d7d8;

$iconFont_Regular: "uicons-regular-rounded";
$iconFont_Solid: "uicons-solid-rounded";
